.Archives {
  padding: 30px 0;
  .Archives__title {
    color: $WhiteGold;
    text-align: center;
  }
  .Archives__Shots {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 50px;
    p {
      margin: 0;
    }
    .Shot__Title {
      width: 400px;
    }
    .Shot__Media {
      width: 100%;
      height: 400px;
    }
    .Archives__Shots__date {
      color: rgb(182, 173, 173);
      font-style: italic;
      font-size: 16px;
    }
  }
  .Archives__navigate-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 50px auto 0 auto;
  }
}
