.NavigateButton {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0 25px;
  &:hover {
    opacity: 0.7;
  }
}

.NavigateButton__disabled {
  filter: opacity(25%);
  cursor: not-allowed;
  pointer-events: none;
}
