// ? Font size
$FontSize__1: 12px;
$FontSize__2: 14px;
$FontSize__3: 16px;
$FontSize__4: 18px;
$FontSize__5: 20px;
$FontSize__6: 22px;
$FontSize__7: 28px;
$FontSize__8: 32px;

// ? <Earth />
$Earth__height: 1200px;
$Earth__width: 90vw;

// ? <Star />
$Star__height: 45px;
$Star__width: 45px;
