.ShotOfTheDay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  .ShotOfTheDay__media {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ShotOfTheDay__explanation {
    font-size: $FontSize__4;
    font-weight: lighter;
    line-height: 30px;
    max-width: 600px;
  }
}
