.Earth {
  height: 1200px;
  width: 1200px;
  border-radius: 50%;
  margin-left: auto;
  transform: translate(300px, 10px);
  position: relative;
  background: rgba($Green, 0.19); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    rgba($BlueDark, 0.18),
    rgba($Green, 0.19),
    #000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba($BlueDark, 0.18),
    rgba($Green, 0.19),
    #000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-box-shadow: 3px 29px 80px 10px $WhiteGold;
  -moz-box-shadow: 3px 29px 80px 10px $WhiteGold;
  box-shadow: 3px 29px 80px 10px $WhiteGold;
}
